---
---

@import "{{ site.theme }}";

#menu a {
    color: rgb(189, 189, 189);
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
  }
  
  #menu a:hover, #menu a:focus {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }

  div#staff {
      margin: 5px;
      float:none;
      display:flow-root;
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid rgb(12, 12, 12);
  }
  
  div.gallery img {
    width: 99%;
    height: auto;
    padding: inherit;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  